body {
	font-family: Arial, sans-serif;
	background-color: #333;
	margin: 0;
	padding: 0;
	color: #333;
}

.update-container {
	width: 80%;
	max-width: 600px;
	margin: 40px auto;
	padding: 30px;
	background-color: #f8f9fa;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}

h1 {
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

label {
	display: block;
	margin: 15px 0 5px;
	font-weight: bold;
	color: #333;
}

input[type="text"], input[type="number"], textarea, select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 15px;
}

textarea {
	resize: vertical;
}

input[type="file"] {
	border: none;
	padding: 0;
	margin-bottom: 15px;
}

.button-container {
	display: flex;
	justify-content: center; /* 버튼들을 가운데 정렬 */
	gap: 10px; /* 버튼 사이의 간격 */
	margin-top: 20px; /* 버튼 상단 여백 */
}

input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: #333;
	color: #ffffff;
	border: none;
	padding: 15px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #555;
}

.image-preview-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.image-preview {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.option-row {
    display: flex;
    flex-direction: column; /* 기본적으로 세로 정렬 */
    margin-bottom: 10px; /* 각 옵션 행 간 간격 */
}

.option-row .input-group {
    display: flex;
    gap: 10px; /* 각 필드 간 간격 */
}

.option-row .input-group-2 {
    display: flex;
    justify-content: space-between; /* 삭제 버튼을 오른쪽으로 밀기 */
    gap: 10px; /* 필드 간 간격 */
}

.option-row label {
    font-size: 14px;
}

.option-row input.option-type {
	flex: 1; /* 같은 줄에서 동일한 비율로 크기 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
} 
.option-row input.option-stock {
    flex: 2; /* 같은 줄에서 동일한 비율로 크기 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.option-row input.option-name {
    flex: 1; /* 이름 필드 크기 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 0px
}

.option-row button.remove-option {
    background-color: #333;
    color: white;
    border: none;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}