@charset "UTF-8";

.quick-menu {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-menu button {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    cursor: pointer;
}

.recent-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.recent-product {
    margin-bottom: 10px;
    text-align: center;
}

.recent-product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 5px;
}

.recent-product p {
    font-size: 12px;
    margin: 0;
}

#scrollTopBtn, #scrollBottomBtn {
	color: white;
    background-color: #333;
    border: none;
    font-size: 14px;
    cursor: pointer;
}