button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}


.productDetail-container {
    padding: 20px;
    border-radius: 10px;
}


.productDetail-middle {
    flex: 2; /* 가운데 섹션을 넓게 */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%; /* 최대 너비 설정 */
}

.productDetail-middle img {
    width: 100%; /* Bootstrap의 img-fluid 클래스를 사용 */
    height: auto;
    border-radius: 10px;
    
}

.productDetail-right {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.productDetail-right button {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.productDetail-right button[disabled] {
    background-color: #ddd;
    cursor: default;
}

.productDetail-right h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.productDetail-right p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
    padding-left: 10px;
}


.productDetail-right .product_description {
    margin-top: 20px;
    line-height: 1.5;
    color: #555;
    border-radius: 10px;
    padding: 10px;
}

.review-more{
	color : gray;
	margin-left : 3px;
	font-size: 13px;
	cursor: pointer;
}

.report-container {
	background-color: #F1F1F1;
	width: 90%;
	height: 100px;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	color : gray;
}


