@charset "UTF-8";

#title{
	 width: 100%; /* 전체 폭을 사용 */
  height: 20px; /* 높이 지정 */
  padding: 10px; /* 내용과 경계 사이에 여백 추가 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 5px; /* 둥근 모서리 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기 지정 */
  font-size: 16px; /* 글자 크기 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

 #content {
  width: 100%; /* 전체 폭을 사용 */
 height: 200px; /* 높이 지정 */
 padding: 10px; /* 내용과 경계 사이에 여백 추가 */
 border: 1px solid #ccc; /* 테두리 스타일 */
 border-radius: 5px; /* 둥근 모서리 */
box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기 지정 */
 font-size: 16px; /* 글자 크기 */
 white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
} 



table#retrieveForm {
 width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 추가 */
}
 
table#retrieveForm th, table#retrieveForm td {
  padding: 10px;
  border: 1px solid #ccc; /* 테두리 스타일 */
}

table#retrieveForm td {
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

table#retrieveForm th {
  background-color: #f4f4f4; /* 헤더 배경 색상 */
  text-align: center;
  font-size: 16px;
}


table#retrieveForm td {
  font-size: 16px; /* 글자 크기 */
}
        

        
form#search {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 1rem;
  
   
}

form#search select, 
form#search input[type="text"] {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

form#search input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 14px;
}



/* 테이블 스타일링 */
table#listForm {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 추가 */
}

table#listForm th, table#listForm td {
    padding: 10px;
    border: 1px solid #ccc; /* 테두리 스타일 */
}

table#listForm th {
    background-color: #f4f4f4; /* 헤더 배경 색상 */
    text-align: left; /* 텍스트 정렬 */
}

table#listForm td {
    white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    font-size: 16px; /* 글자 크기 */
}

form#writeForm {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align:center;
}

form#writeForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

form#writeForm input[type="text"],
form#writeForm textarea {
   width: 100%; /* 전체 폭을 사용 */
  height: 20px; /* 높이 지정 */
  padding: 10px; /* 내용과 경계 사이에 여백 추가 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 5px; /* 둥근 모서리 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기 지정 */
  font-size: 16px; /* 글자 크기 */
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

form#writeForm textarea {
    height: 200px;
    resize: vertical;
    white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */
}

form#writeForm writesubmit {
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-weight: bold;
   padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

form#updateForm {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align:center;

}

form#updateForm label {
    font-weight: bold;
    display: block;
   /* margin-bottom: 0.5rem;*/
}

form#updateForm input[type="text"],
form#updateForm textarea {
     width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}


form#updateForm button {
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
}


button.buttonmulti {
	font-size:14px;
	margin: 10px auto;
    background-color: #333;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

button.writeSubmit {
	font-size:14px;
	margin: 10px auto;
    background-color: #333;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}


/* 페이지 네비게이션 스타일 */
.tbpagination {
    text-align: center; /* 가운데 정렬 */
    margin: 5px 0; /* 위와 아래에 여백 추가 */
	

}

.tbpagination a{
   color:black;
   text-decoration: none; 
   padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
}

.tbpagination a:hover{
 	background-color: #ddd;
    color: #000;
}



.page-link {
    display: inline-block; /* 링크를 인라인 블록으로 만들어 가운데 정렬 */
    padding: 8px 16px; /* 링크에 여백 추가 */
    margin: 0 4px; /* 링크 간의 여백 추가 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #007bff; /* 링크 색상 */
    border: 1px solid #007bff; /* 링크에 테두리 추가 */
    border-radius: 4px; /* 링크의 모서리를 둥글게 */
    font-size: 14px; /* 폰트 크기 */
}

div.button{
   width: 80%;
   margin:auto;
	
}
div.writebutton{
   width: 62%;
   margin:auto;
}


div.label{
	width:100%;
	margin:auto;
	text-align:left;
}

.postno{
	text-align: center;
}

.trainerboard_postno{
	text-align:center;
	background-color:white;
	text-align: center;	
}

.trainerboard_tbody {
	background-color:white;
	text-align: center;	
}

.trainerboard_content {
    background-color: white;
}

.trainerboard_content a {
    color: black; 
    text-decoration: none;
}

.trainerboard_content:hover{
   text-decoration: underline;
} 

.tdTopPosts{
	text-align:center;
}

.trainerboard_topPosts a{
	color: black;
	text-decoration: none;
}

.trainerboard_topPosts:hover{
	 /* background-color: #fff0f5;  */
	 background-color: beige; 
}

/* 써머노트 */
.summernote {
     height: 300px;
}

label {
     font-weight: bold;
     font-size: 1.2rem;
     color: #333;
}
       
.note-editor.fullscreen {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     z-index: 1050;
     background-color: #fff;
     overflow: hidden;
}

.note-toolbar {
     position: relative;
     z-index: 1051;
}

.note-editable {
	 text-align: left; 
     height: calc(100vh - 120px) !important;
     overflow-y: auto;
     background-color: white;
}

/* 댓글 */

#reply{
	width: 80%;
	margin: 20px auto;
	/* padding: 20px; */
}

.reply-container {
	margin: 20px auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 15px;
}

.reply-table {

 	 margin: 20px auto;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}

.reply-userid {
	background-color: beige;
	display: inline-block; /* 글자 길이에 맞춰 배경색 지정 */
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
	/* padding: 3px 10px; */
	border-radius: 4px; /* 모서리 둥글게 */
}

.reply-content {
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	
}

.reply-createdate {
	font-size: 10px;
	color: gray;
	padding: 5px;
}

.reply-button {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
}

.reply-button input {
	border: none;
	background-color: #838383;
	color: #fff;
	padding: 0.5px 1px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;
}

/* textarea와 버튼을 감싸는 컨테이너 */
.reply-textarea-container {
    position: relative;
    margin-top: 10px;
}

/* textarea 스타일 */
.reply-textarea-container textarea {
    width: 80%; /* 부모의 너비에 맞추고 padding만큼을 빼줍니다 */
	height: 80px;
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 13px;
	resize: none;
	box-sizing: border-box; /* padding과 border를 포함한 크기로 계산 */
}

/* submit 버튼을 포함하는 컨테이너 */
.submit-reply-button-container {
    position: absolute;
    bottom: 10px;
    
    
}

/* 버튼 스타일 */
.submit-reply-button-container button {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	border: none;
	background-color: #838383;
	color: #fff;
	padding: 0.5px 1px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s;

}

/* asdf */
.comment-container {
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
}

.comment-header {
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
}

.comment-body {
	position: relative; /* 부모 컨테이너를 기준으로 자식 요소의 위치를 설정 */
	margin-bottom: 10px;
}

#comment-textarea {
	width: 100%; /* 부모의 너비에 맞추고 padding만큼을 빼줍니다 */
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	font-size: 13px;
	resize: none;
	box-sizing: border-box; /* padding과 border를 포함한 크기로 계산 */
}

#submit-comment {
	position: absolute;
	bottom: 15px; /* 텍스트 에리어 내부의 오른쪽 아래 위치 */
	right: 10px;
	background-color: #838383;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 10px;
	cursor: pointer;
}

.hidden {
	display: none; /* 기본적으로 숨겨진 상태 */
}

/* textarea와 버튼을 포함하는 컨테이너 */
.edit-content-container {
	position: relative;
	margin-top: 10px;
}

.edit-content-textarea {
	width: 80%; /* 부모의 너비에 맞추고 padding만큼을 빼줍니다 */
	height: 80px;
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 14px;
	resize: none;
	box-sizing: border-box; /* padding과 border를 포함한 크기로 계산 */
}
/* 버튼 컨테이너 */
.edit-buttons {
	text-align: right;
    padding-right: 10px;
    font-size: 11px;
	border: none;
	color: #fff;
	padding: 0.5px 1px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* 저장 및 취소 버튼 스타일 */
.edit-buttons button {
	border: none;
	background-color: #838383;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}


