<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FaqMapper">

	<select id="list" resultType="FaqDTO">
		 SELECT * FROM FAQ_QNA 
		 WHERE category != 'ask-product'
	</select>
	
	<select id="qnaList" parameterType="hashmap" resultType="FaqDTO">
	    SELECT * FROM FAQ_QNA
	    <where>
	    	<if test="category == null">
	    		category != 'ask-product'
	    	</if>
	        <if test="category != null and category != ''">
	            category = #{category}
	        </if>
	        <if test="searchValue != null and searchKey != null">
	            AND LOWER(${searchKey}) LIKE '%' || LOWER(#{searchValue}) || '%'
	        </if>
	        <if test="product_id != null and product_id != 0">
	        	AND product_id = #{product_id}
	        </if>
	    </where>
	    ORDER BY faq_qna_date desc
	</select>
	
    <select id="selectBoardOne" resultType="FaqDTO" parameterType="int">
        SELECT * FROM FAQ_QNA
        WHERE faq_qna_id = #{faq_qna_id}
    </select>
    
   	<select id="getTotalCount" parameterType="hashmap" resultType="int">
	    SELECT COUNT(*) FROM FAQ_QNA
	    <where>
   	    	<if test="category == null">
	    		category != 'ask-product'
	    	</if>
	        <if test="category != null and category != ''">
	            category = #{category}
	        </if>
	        <if test="searchValue != null and searchKey != null">
	            AND LOWER(${searchKey}) LIKE '%' || LOWER(#{searchValue}) || '%'
	        </if>
	    </where>
	</select>
    
    <insert id="saveQuestion" parameterType="FaqDTO">
    	INSERT INTO FAQ_QNA(faq_qna_id, question, questioner, faq_qna_date, category, is_secret
    	<if test="product_id != null and product_id != 0">, product_id</if>
    	)
    	VALUES (FAQ_QNA_SEQ.nextval, #{question}, #{questioner}, SYSDATE, #{category}, #{is_secret}
    	<if test="product_id != null and product_id != 0">, #{product_id}</if>
    	)
    </insert>
    
    <update id="saveAnswer" parameterType="FaqDTO">
    	UPDATE FAQ_QNA
        SET answer = #{answer}
        WHERE faq_qna_id = #{faq_qna_id}
    </update>
    
    <delete id="deleteQuestion" parameterType="int">
    	DELETE FROM FAQ_QNA
        WHERE faq_qna_id = #{faq_qna_id}
    </delete>
	
</mapper>
