<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dto.PostMapper">

<select id="selectAll" resultType="Post">
	select postid, title, writer, createdate, viewcount from CONTESTNOTICE order by postid
</select>

<insert id="contentInsert" parameterType="Post" >
insert into CONTESTNOTICE (title,content,createdate)
				values(#{title},#{content},sysdate)
</insert>
<select id="Content" parameterType="String" resultType="Post">
select * from CONTESTNOTICE where postid = #{postid}
</select>
<select id="searchContent" parameterType="Post" resultType="Post">
select * from CONTESTNOTICE where postid = #{postid} and title = #{title}
</select>
<update id="UpdatePost" parameterType="Post" >
UPDATE CONTESTNOTICE SET title = #{title}, content = #{content}
where postid = #{postid}
</update>
<delete id="deltContent" parameterType="Post">
DELETE FROM CONTESTNOTICE WHERE postid = #{postid}

</delete>

<select id="getPostsByPage" parameterType="map" resultType="Post">
        SELECT * FROM (
            SELECT ROWNUM AS rnum, a.* FROM (
                SELECT * FROM CONTESTNOTICE 
                ORDER BY createdate DESC
            ) a WHERE ROWNUM <![CDATA[ <= ]]> #{endRow}
        )
        WHERE rnum <![CDATA[ >= ]]> #{startRow}
    </select>

   
    <select id="getTotalPosts" resultType="int">
        SELECT COUNT(*) FROM CONTESTNOTICE
    </select>
  <select id="writerSearch" parameterType="map" resultType="Post">
    SELECT * FROM (
        SELECT ROWNUM AS rnum, a.* FROM (
            SELECT * FROM CONTESTNOTICE 
            WHERE LOWER(writer) LIKE LOWER('%' || #{writer} || '%')
            ORDER BY createdate DESC
        ) a WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE rnum &gt;= #{startRow}
</select>

 <select id="ContentSearch" parameterType="map" resultType="Post">
    SELECT * FROM (
        SELECT ROWNUM AS rnum, a.* FROM (
            SELECT * FROM CONTESTNOTICE 
            WHERE LOWER(content) LIKE LOWER('%' || #{content} || '%')
            ORDER BY createdate DESC
        ) a WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE rnum &gt;= #{startRow}
</select>
  <select id="getWriterSearchCount" parameterType="String" resultType="int">
    SELECT COUNT(*) 
    FROM CONTESTNOTICE 
     WHERE LOWER(writer) LIKE LOWER('%' || #{writer} || '%')
</select>
   <select id="getContentSearchCount" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM CONTESTNOTICE 
    WHERE LOWER(content) LIKE LOWER('%' || #{content} || '%')
</select>
<update id="viewcount" parameterType="String">
    UPDATE CONTESTNOTICE
    SET viewcount = viewcount + 1
    WHERE postid = #{postid}
</update>
    
</mapper>