<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicdan.SicdanMapper">

    <!-- 게시글 작성 -->
    <insert id="write" parameterType="BoardPostsDTO">
        INSERT INTO BOARD_POSTS (category_id, title, writer, content)
        VALUES (3, #{title}, #{writer}, #{content})
    </insert>

    <!-- 게시글 번호로 조회 -->
    <select id="selectByNum" parameterType="int" resultType="BoardPostsDTO">
        SELECT post_id as postId, title, writer, content, 
               TO_CHAR(created_at, 'yyyy/MM/dd') AS createdAt, 
               viewcount
        FROM BOARD_POSTS
        WHERE post_id = #{postId} AND CATEGORY_ID = 3
    </select>

    <!-- 조회수 증가 -->
    <update id="updateReadCnt" parameterType="int">
        UPDATE BOARD_POSTS
        SET viewcount = viewcount + 1
        WHERE post_id = #{postId}
    </update>

    <!-- 게시글 수정 -->
    <update id="updateByNum" parameterType="BoardPostsDTO">
        UPDATE BOARD_POSTS
        SET TITLE = #{title}, CONTENT = #{content}, UPDATED_AT = SYSDATE
        WHERE POST_ID = #{postId} 
    </update>

    <!-- 게시글 삭제 -->
    <update id="deleteNum" parameterType="int">
        DELETE FROM BOARD_POSTS
        WHERE POST_ID = #{postId} AND CATEGORY_ID = 3
    </update>

   <!-- 게시글 목록 조회 -->
<select id="listAll" parameterType="map" resultType="BoardPostsDTO">
    SELECT * FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY post_id DESC) AS rn,
               post_id AS postId, title, writer, content,
               TO_CHAR(created_at, 'yyyy/MM/dd') AS createdAt, viewcount
        FROM BOARD_POSTS
        WHERE CATEGORY_ID = 3
        <if test="searchName != null and searchValue != null and searchValue != ''">
            <choose>
                <when test="searchName == 'title'">
                    AND title LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchName == 'writer'">
                    AND writer LIKE '%' || #{searchValue} || '%'
                </when>
            </choose>
        </if>
    )
    WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>



    <!-- 총 게시글 개수 조회 -->
<select id="getTotalCount" parameterType="map" resultType="int">
    SELECT count(*)
    FROM BOARD_POSTS
    WHERE CATEGORY_ID = 3
    <if test="searchName != null and searchValue != null and searchValue != ''">
        AND <choose>
            <when test="searchName == 'title'">
                LOWER(title) LIKE '%' || LOWER(#{searchValue}) || '%'
            </when>
            <when test="searchName == 'writer'">
                LOWER(writer) LIKE '%' || LOWER(#{searchValue}) || '%'
            </when>
        </choose>
    </if>
</select>


</mapper>
