<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrainerBoardCommentMapper">	<!-- 네임스페이스 다른걸로 바꾸고 dao도 수정좀^^;; -->
	
<!-- 댓글 목록 가져오기 (특정 게시물에 대한 댓글) -->
	<select id="selectCommentsByPostId" resultType="TrainerBoardCommentDTO"
		parameterType="int">
		SELECT commId, tr_ParentId, postid, commContent, userId, TO_CHAR(comCrdate,
		'YYYY-MM-DD HH24:MI:SS') as comCrdate, tr_RepIndent, realUsername
		FROM trainerboard_comments
		WHERE postid = #{postid}
		ORDER BY tr_ParentId ASC, comCrdate ASC
	</select>
	
	
	<select id="selectCommentByPostId" resultType="TrainerBoardCommentDTO" parameterType="int">
    SELECT commId, tr_ParentId, postid, commContent, userId, TO_CHAR(comCrdate, 'YYYY-MM-DD HH24:MI:SS') as comCrdate, tr_RepIndent, realUsername
    FROM trainerboard_comments
    WHERE commId = #{commId}
</select>
	

	<!-- 댓글 삽입 -->
	<insert id="insertComment" parameterType="TrainerBoardCommentDTO">
	    INSERT INTO trainerboard_comments (tr_ParentId, postid, commContent, userId, comCrdate, tr_RepIndent, realUsername)
	    VALUES (#{tr_ParentId}, #{postid}, #{commContent}, #{userId}, SYSDATE, #{tr_RepIndent}, #{realUsername})
	</insert>


	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="TrainerBoardCommentDTO">
		UPDATE trainerboard_comments
		SET commContent = #{ commContent }
		WHERE commId = #{commId}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM trainerboard_comments
		WHERE commId = #{commId}
		OR tr_ParentId = #{commId}
	</delete>



</mapper>