<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TrainerBoardCommentMapper">	<!-- 네임스페이스 다른걸로 바꾸고 dao도 수정좀^^;; -->
	
<!-- 댓글 목록 가져오기 (특정 게시물에 대한 댓글) -->
	<select id="selectCommentsByPostId" resultType="TrainerBoardCommentDTO"
		parameterType="int">
		SELECT commId, parentId, postId, commContent, userId, TO_CHAR(comCrdate,
		'YYYY-MM-DD') as comCrdate, repIndent
		FROM commContent
		WHERE postId = #{postId}
		ORDER BY parentId ASC, comCrdate ASC
	</select>

	<!-- 댓글 삽입 -->
	<insert id="insertComment" parameterType="TrainerBoardCommentDTO">
		INSERT INTO commContent (commId, parentId, postId, commContent, userId, comCrdate,
		repIndent)
		VALUES (#{commId}, #{parentId}, #{postId}, #{commContent}, #{userId}, SYSDATE,
		#{repIndent})
	</insert>

	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="TrainerBoardCommentDTO">
		UPDATE commContent
		SET commContent = #{ commContent }
		WHERE commId = #{commId}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM commContent
		WHERE id = #{commId}
		OR parentId = #{commId}
	</delete>



</mapper>