/* 기본 스타일 설정 */
body {
    font-family: 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
/* a태그 밑줄 없애기 */
a{
	text-decoration-line: none;
	color: inherit;
}

/* 타이틀 스타일 */
.title {
    text-align: center;
    color: #555;
    margin: 20px 0;
}

/* 버튼 그룹 스타일 */
.button-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열의 그리드 레이아웃 */
    gap: 10px; /* 버튼 사이의 간격 */
    margin: 20px auto;
    max-width: 800px; /* 버튼 그룹의 최대 너비 설정 */
    padding: 0 10px; /* 버튼 그룹의 좌우 패딩 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

.filter-button {
    padding: 8px 0; /* 상하 패딩만 추가 */
    border: none;
    border-radius: 5px;
    background-color: #c0c0c0; /* 회색 */
    color: #333;
    cursor: pointer;
    font-size: 14px; /* 글꼴 크기 조정 */
    text-align: center;
    box-sizing: border-box; /* 박스 크기 계산 */
}

.filter-button:hover {
    background-color: darkgrey; /* 호버 시 색상 */
}

.trainer-search, .trainerAdding {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.pagination {
    text-align : center;
	padding: 5px;
}

/* 트레이너 카드 스타일 */
.trainer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* 전체 너비를 80%로 조정 */
    margin: 0 auto;
}

.trainer-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px; /* 최대 너비를 1000px로 조정 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.trainer-header {
    flex: 1;
}

.trainer-name {
    font-size: 20px;
    font-weight: bold;
}

.trainer-center {
    color: #777;
}

.trainer-intro {
    font-size: 18px;
    margin: 10px 0;
}

.trainer-spec {
    color: #666;
}

.trainer-date {
    color: #999;
}

.trainer-image {
    flex: 0 0 200px; /* 이미지 영역의 고정 너비 설정 */
    margin-left: 20px;
    text-align: center;
}

.trainer-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
