body {
	background-color: #f8f9fa;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	font-size: 2rem;
}

.filter-group {
	text-align: center;
	margin-bottom: 20px;
}

.filter-group button {
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 0.9rem;
	padding: 7px 15px;
	border: none;
	background-color: #6c757d; /* 중성적 회색 */
	color: white;
	transition: background-color 0.3s ease;
}

.filter-group button:hover {
	background-color: #495057; /* 호버 시 약간 어두운 회색 */
}

.search-bar {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.search-bar input, .search-bar select {
	margin-right: 10px;
	border: 1px solid #ced4da;
}

.search-bar button {
	background-color: #343a40; /* 진한 회색 */
	color: white;
	border: none;
	padding: 8px 16px;
	transition: background-color 0.3s ease;
}

.search-bar button:hover {
	background-color: #23272b; /* 호버 시 약간 더 어두운 색 */
}

.trainer-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.trainer-card {
	background-color: white;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trainer-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.trainer-image img {
	width: 150px;
	height: 150px;
	border-radius: 12px;
	object-fit: cover;
	margin-right: 30px;
}

.trainer-info {
	flex-grow: 1;
}

.trainer-name {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.trainer-intro {
	font-size: 1rem;
	color: #666;
	margin-bottom: 10px;
}

.trainer-spec {
	font-size: 0.9rem;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination a {
	margin: 0 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #adb5bd; /* 세련된 회색 */
	color: white;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.pagination a:hover {
	background-color: #6c757d; /* 호버 시 조금 더 어두운 회색 */
}

.trainerAdding {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
}

.trainerAdding a {
	padding: 12px 20px;
	background-color: #007bff; /* 모던한 파란색 */
	color: white;
	text-decoration: none;
	border-radius: 50px; /* 둥근 버튼 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.trainerAdding a:hover {
	background-color: #0056b3; /* 호버 시 더 진한 파란색 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}