/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* 배경색 */
    margin: 0;
    padding: 0;
}


/* 트레이너 등록 폼 컨테이너 */
.trainerContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
    color: #333;
    text-align: center;
}

/* 각 bodyContainer 스타일 */
.bodyContainer {
    margin-bottom: 20px;
}

/* 필수 항목 레이블 스타일 */
.compulsory {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* 입력 필드 및 버튼 스타일 */
input[type="text"],
input[type="button"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 버튼 스타일 */
button,
input[type="button"] {
    background-color: lightgrey;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

button:hover,
input[type="button"]:hover {
    background-color: #dcdcdc;
}


/* 성별 선택 박스 스타일 */
.inputGroup {
    display: flex;
    /*gap: 20px;*/
}


/* 텍스트 영역 스타일 */
textarea {
    resize: vertical;
}

/* 공지 사항 스타일 */
.notice {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

/* 인증 버튼 스타일 */
.clickButton {
    background-color: lightgrey;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

/* 이미지 추가 버튼 스타일 */
.imgButton {
    background-color: lightgrey;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    margin-top: 10px;
}

/* 자격사항 추가 버튼 스타일 */
#AddButton {
    background-color: lightgrey;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    margin-top: 10px;
}

/* 레슨 가능 지역 셀렉트 박스 스타일 */
#locSelect,
#locSelect2 {
    display: inline-block;
    width: calc(50% - 12px);
    margin-right: 12px;
}

/* 폼 제출 버튼 스타일 */
button[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

button[type="submit"]:hover {
    background-color: #dcdcdc;
}
